*{margin: 0; padding: 0; box-sizing:border-box ;}

p,.data,.checkbox,.submit input[type="submit"],.submit2 input[type="submit"] {
    font-family: Montserrat;
    font-weight: 600;
}

h3,li,h1,h4 {
    font-family: "Playfair Display"
}

/*MENÚ*/

#logo a{
    position: relative;
    width: 500px;
    height: 100%;
    float: left;
    font-size: 2.0em;
    padding-left: 160px;
    padding-top: 23px;
    text-decoration: none;
    color: white;
}

.marca{
    position: relative;
    width: 250px;
    right: 520px;
    bottom: 35px;
}

#cabecera {
    width: 100%;
    height: 90px;
    background-color: #742A37;
    color: white;
}

#cabecera nav {
    height: 100%;
    float: right;
    color: white;
}

#cabecera nav ul {
    list-style: none;
    height: 100%;
    padding-right: 40px;
    padding-top: 20px;
}

#cabecera nav ul li {
    float: left;
    height: 100%;
}

#cabecera nav ul li a:link,
#cabecera nav ul li a:visited {
    padding: 22px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#cabecera nav ul li a:hover {
    color: #C7B48B;
}

/*BANNER*/

.banner{
    height:500px;
    width: 100%;
}

/*RESEÑAS*/

.reseña {
    height: 800px;
    width: 100%;
    background-color: #C1485B;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
   
}

.box {
    height: 200px;
    width: 80%;
    background-color: #FCD9B8;
}

.box img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    float: left;
}

.box .contenedor2 {
    width: 65%;
    padding-top: 45px;
    padding-left: 20px;
    float: left;
}

.contenedor2 p {
    font-style: italic;
}


/*PRODUCTOS DESTACADOS*/

.destacados {
    height: 550px;
    width: 100%;
    margin: 0 auto;
    background-color: #C7B48B;
    margin-top: 50px;
}
.productos{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
   
}
.postre p, .postre h3{
    font-weight:900;
    font-size: 1.8em;
    text-align: center;
}
.mejores {
    width: 300px;
    float: left;
    padding: 15px;
    background-color: #C1485B;
}
.mejores:hover{
    opacity: 0.6;
    border: #742A37 5px double;
}
.titulo1{
    font-size: 2.0em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color:#C1485B;
}

/*NOSOTRAS*/

.nosotras{
    width: 100%;
    height: 450px;
    background-color: #A4654D;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    border-top: #C7B48B solid 10px;
    border-bottom: #C7B48B solid 10px;
}
.informacion{
    width: 600px;
    height: 350px;
    background-color: #C7B48B;
    margin-top: 40px;
    border-radius:54px;
}
.alumna img{
    width: 350px;
}
.name{
    text-align: center;
    font-size: 2.0em;
    margin-top: 40px;
    width: 600px;
}
.name p{
    font-size:0.9em;
}


/*FOOTER*/

.redes2{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-top: #742A37 10px solid;
}
.redes{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-top: #742A37 10px solid;
}
.follow{
    position: relative;
    height: 60px;
    width: 60px;
    margin: 10px;
    top: 10px;
}
.resto{
    width: 100%;
    height: 260px;
    background-color:#742A37;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
}
.tarjeta{
    position: relative;
    width: 400px;
    margin-top: 20px;
}
.pagos{
    position: relative;
    color: white;
    font-size: 1.5em;
    margin-top: 40px;
}
.contactos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    padding-left: 160px;
    border-left: white solid 3px;
}
.contact{
    width: 50px;
}
.text{
    position: relative;
    font-size: 1.2em; 
    font-weight: bold;
    color: white;
    top: 10px;
    left: 20px;
}
.text a{
    color: white;
    text-decoration: none;
}
.c1, .c2, .c3{
    display: flex;
    padding-bottom: 20px;
}
.copy{
    width: 100%;
    height: 40px;
    background-color:black;
    text-align: center;
}
.textcopy{
    position: relative;
    top: 15px;
    color: white;
}

/*Iniciar Sesión*/ 

.fondo2 {
    width: 100%;
    height: 650px;
    background-image: url(4x/Mesa\ de\ trabajo\ 4@4x.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
}

.sesion {
    text-align: center;
    height: 70px;
    background-color: #a4654d;
    font-size: 1.5em;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}

.recuadro2 {
    height: 500px;
    width: 30%;
    background-color: #C7B48B;
    margin: 0 auto;
    border-radius: 54px;
}

.direcciones {
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.direcciones p{
    text-align: center;
}

.direcciones a {
    color: black;
}

.submit2 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.submit2 input[type="submit"] {
    font-size: 1.5em;
    background-color: #a4654d;
    border: none;
    padding: 6px;
    font-weight: 600;
}

.submit2 input[type="submit"]:hover {
    cursor: pointer;
}

/*REGISTRO*/

.fondo {
    width: 100%;
    height: 850px;
    background-image: url(4x/Mesa\ de\ trabajo\ 4@4x.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
}

.recuadro {
    height: 700px;
    width: 30%;
    background-color: #C7B48B;
    margin: 0 auto;
    border-radius: 54px;
}

.registro {
    text-align: center;
    height: 80px;
    background-color: #a4654d;
    font-size: 1.5em;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}

.datos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.casilla {
    background-color: #a4654d;
    width: 60%;
    height: 80px;
    margin-top: 30px;
}

.cuadro {
    background-color: #a4654d;
    width: 100%;
    height: 150px;
    margin-top: 60px;
    padding-top: 4%;
    padding-left: 3%;
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
}

.casilla label {
    font-weight: bold;
    padding-left: 10%;
    display: block;
    padding-top: 5%;
}

.casilla input {
    margin-left: 10%;
    padding-right: 5%;
}

.casilla .data {
    font-weight: 600;
    font-size: 1.2em;
}

.crear {
    text-align: center;
}

.checkbox {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.submit input[type="submit"] {
    font-size: 1.3em;
    background-color: #C7B48B;
    border: none;
    padding: 6px;
    font-weight: 600;
}

.submit input[type="submit"]:hover {
    cursor: pointer;
}

/*ENCUESTAS*/

.encuestas{
    display: flex;
    width: 100%;
    height: 900px;
    background-image: url("4x/Mesa\ de\ trabajo\ 4@4x.png");
    object-fit: cover;
}

.encuesta1{
    width: 40%;
    height: 800px;
    background-color: #88A798;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 54px;
    background: #FCD9B8;
}
.name1{
    font-size: 1.6em;
    text-align: center;
    background-color: #88A798;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.first{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 1.1em;
}
.quest{
    background-color: #88A798;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}
.ask{
    margin-top: 20px;
}
.opinion{
    padding-right: 290px;
    padding-bottom: 70px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
.inc{
    padding-right:290px ;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
}
.submit3{
    font-size: 1.1em;
    background-color: #88A798;
    border-radius: 50px;
    padding: 6px;
    margin-left: 190px;
    margin-top: 25px;
}
.submit3:hover{
    cursor: pointer;
}


/*PRODUCTOS*/

#PRODUCTS{
    background-image: url("4x/fondo\ madera@4x.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.productos2{
    width: 100%;
    height: 2000px;
    /*background-image: url("4x/Mesa\ de\ trabajo\ 4@4x.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
}
section.tortas, section.tartas, section.cupcakes{
    display: flex;
    width: 600px;
    height: 430px;
    background-color: white;
    border: #A4654D 8px dotted;
    margin: 0 auto;
}
section.tortas img, section.tartas img, section.cupcakes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.9;
    transition: .5s ease;
}
section.tortas img:hover, section.tartas img:hover, section.cupcakes img:hover{
    cursor:pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.especial1, .especial2, .especial3{
    font-size: 2.0em;
    width: 700px;
    height: 600px;
    padding-top: 40px;
    background-color: #A4654D;
    text-align: center;
    margin-left: 300px;
    border-radius: 54px;
    margin-bottom: 40px;
}
.especial1 a, .especial2 a, .especial3 a{
    text-decoration: none;
    color:white;
}

#informacion_p{
    width: 75%;
    ;
    height: 600px;
    margin: 0 auto;
   
}

#informacion_p .title{
    width: 30%;
}

#informacion_p h3{
    font-size: 1em;
}

#informacion_p .title h1{
    font-size: 2.5em;
    color: #212121;
}

#informacion_p .box{
    background-color: #f3f3f3;
    margin-top: 20px;
    padding: 20px;
    width: 45%;
    float: left;
    margin-right: 40px;
}

#informacion_p .box h3, #informacion_p .box p{
    padding-bottom: 10px;
    padding-left: 40%;
}

#informacion_p .box h3{
    font-size: 1.2em;
}

#informacion_p .box h4{
    font-weight: 600;
    cursor: pointer;
    padding-left: 40%;
}

#informacion_p .box img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
